:root {
    --green: #4caf4f;
    --white: #ffffff;
    --bgClr: #F5F7FA;
    --textClr: #4d4d4d;
}

* {
    border: 0;
    box-sizing: border-box;
    /* color: var(--textClr); */
}

.logo {
    width: 150px;
}

.bg-color {
    background-color: var(--bgClr);
}


.button-style {
    background-color: var(--green);
    padding: 7px 15px;
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.hero-container {
    background-color: var(--bgClr);
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
    color: var(--textClr);
}

.hero-header {
    font-size: 65px;
}

.hero-color {
    color: var(--green);
    ;
}

.hero-img {
    height: 435px;
    width: 430px;
}

.clients-img img {
    width: 42px;
    height: auto;
}

.unseen-header {
    font-size: 40px;
    color: var(--textClr);
}


.unseen-container {
    color: var(--textClr);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
}

.Helping-container {
    background-color: var(--bgClr);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
    color: var(--textClr);
}

.iconify {
    font-size: 40px;
    color: var(--green);
}

.link-style,
.link-style i {
    font-size: 18px;
    font-weight: 500;
    color: var(--green);
    text-decoration: none;
    align-items: center;
}


.leaders-img img {
    width: 32px;
    height: auto;
}


.blog-card {
    width: 370px;
    height: 300px;
    position: relative;
}

.card-img {
    width: 370px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card-info {
    background-color: var(--bgClr);
    width: 250px;
    height: 130px;
    text-align: center;
    position: absolute;
    font-size: 14px;
    bottom: -50px;
    left: 40px;
}

.card-link,
.card-link i {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}

.footer-container {
    background-color: #263238 ;
    color: var(--white) ;
    padding:70px;
}
.footer-menu-container{
    text-align: left;
}
.footer-menu{
    list-style-type: none;
    text-align: start;
    padding-left: 0;
}

.footer-menu li a{
    text-decoration: none;
    color: var(--white);

}