:root {
    --green: #4caf4f;
    --white: #ffffff;
    --bgClr: #F5F7FA;
    --textClr: #4d4d4d;
}

* {
    border: 0;
    box-sizing: border-box;
    /* color: var(--textClr); */
}


/* Button Hover Effect */

.button-style {
    background-color: var(--green);
    padding: 10px 15px;
    color: var(--white);
    border: none;
    border-radius: 5px;
}



/* Base Button Styles */
button {
    background: none;
    border: 2px solid var(--green);
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--green);
    transition: 0.5s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Slide Effect */
.slide {
    --color: var(--green);
    --hover: var(--green);
}

/* Pseudo-element for the slide effect */
.slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--hover);
    transition: 0.5s;
    z-index: -1;
}

/* Hover Effect */
.slide:hover::before {
    left: 0;
}

/* Text Color Change on Hover */
.slide:hover {
    color: #fff;
}

.logo {
    width: 150px;
}

.bg-color {
    background-color: var(--bgClr);
}




.hero-container {
    background-color: var(--bgClr);
    height: 80vh;
    width: 100%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
    color: var(--textClr);
}

.para-text {
    font-size: 18px;
}

.hero-header {
    font-size: 65px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 20px !important;
    color: var(--green);
}

.hero-color {
    color: var(--green);
    ;
}

.hero-img {
    height: 435px;
    width: 430px;
}

.clients-img img {
    width: 42px;
    height: auto;
}

.unseen-header {
    font-size: 40px;
    color: var(--textClr);
}


.unseen-container {
    color: var(--textClr);
    width: 100%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
}

.Helping-container {
    background-color: var(--bgClr);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 50px;
    color: var(--textClr);
}

.Helping-info i {
    color: var(--green);
}

.iconify {
    font-size: 40px;
    color: var(--green);
}

.link-style,
.link-style i {
    font-size: 18px;
    font-weight: 500;
    color: var(--green);
    text-decoration: none;
    align-items: center;
}


.leaders-img img {
    width: 32px;
    height: auto;
}


.blog-card {
    width: 370px;
    height: 300px;
    position: relative;
}

.card-img {
    width: 370px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.card-info {
    background-color: var(--bgClr);
    width: 250px;
    height: 130px;
    text-align: center;
    position: absolute;
    font-size: 14px;
    bottom: -50px;
    left: 40px;
}

.card-link,
.card-link i {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all ease .5s;
}

.card-link:hover,
.card-link i:hover {
    letter-spacing: 5px;
    color: var(--green);
}

.footer-container {
    background-color: #263238;
    color: var(--white);
    padding: 70px;
}

.footer-menu-container {
    text-align: left;
}

.footer-menu {
    list-style-type: none;
    text-align: start;
    padding-left: 0;
}

.footer-menu li a {
    text-decoration: none;
    color: var(--white);

}

.form-control {
    height: 38px;
}



/* Responsive CSS */

@media screen and (max-width:656px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 100%;
        padding: 10px 10px;
        gap: 10px;
    }

    button {
        padding: 0.5em 1em;
    }


    .para-text {
        font-size: 12px;
    }

    .hero-header {
        font-size: 30px;
    }

    .hero-img {
        height: 300px;
        width: 100%
    }

    .clients-img img {
        width: 30px;
        height: auto;
    }

    .unseen-header {
        font-size: 20px;
        color: var(--textClr);
    }

    .unseen-container {
        display: flex;
        flex: column;
        gap: 10px;
        padding: 20px 20px;
    }

    .leaders-img img {
        width: 16px;
        height: auto;
    }

    .link-style,
    .link-style i {
        font-size: 14px;
    }

    .blog-card {
        width: 100%;
        height: 250px;
    }

    .card-img {
        width: 100%;
        height: 250px;

    }

    .card-info {
        background-color: var(--bgClr);
        width: 220px;
        height: 120px;
        text-align: center;
        position: absolute;
        font-size: 12px;
        bottom: -20px;
        right: -50%;
    }

    .footer-container {
        background-color: #263238;
        color: var(--white);
        padding: 30px;
    }
}